python==3.8.8
torch==1.11.0
torch-geometric
ogb==1.3.2
pykeen==1.0.5
click
pystow==0.1.0
einops
python-igraph
tqdm
wandb
tensorboardx
Numpy>=1.16.0
pandas>=0.24.0
urllib3>=1.24.0
scikit-learn>=0.20.0
outdated>=0.2.0
